<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-4">
      <h5>Leave a review</h5>
        <%= simple_form_for [ @cocktail, @review ] do |f| %>
          <%= f.input :content %>
          <%= f.submit "Submit review", class: "btn btn-primary"  %>
        <% end %>
    </div>
  </div>
</div>
